%baseSelectedSwitchLabelStyles{
    box-shadow: 0 0 5px #000;
    color: #121212;
}

.ui-switch{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    font-size: 0.8em;
    font-size: 1em;
    border: none;

    &_caption{
        align-self: flex-start;
        padding: 0.8em 0;
    }

    &_labels{
        margin-left: 1em;
        position: relative;
        overflow: hidden;
    }

    &_input-wrap{
        display: flex;
        padding: 0.4em;
        border-radius: $button-border-radius-amount;
        background-color: #333;
        box-shadow: inset 0 0 3px rgba(#000, 0.5);
    }

    &_label{
        display: block;
        color: #ddd;
    }

    &_radio{
        display: none;
    }

    $siteStatusLabelStyles:(
        ('background-color': lime),
        ('background-color': red, 'color': white),
        ('background-color': yellow)
    );



    @mixin selectedSwitchLabels($mapToUse){
        $i : 1;
        @each $rule in $mapToUse{
            [type="radio"]:nth-child(#{$i}):checked ~ label:nth-of-type(#{$i}){
                @extend %baseSelectedSwitchLabelStyles;
                @each $prop, $value in $rule{
                    #{$prop} : $value;
                    @if($prop == 'background-color'){
                        background-image: linear-gradient($value, darken($value, 15%) );
                    }
                }
            }
            $i: $i+1;
        }
    }

    &_labels--page-status { @include selectedSwitchLabels($siteStatusLabelStyles); }

    &_prompt{
        flex-basis: 100%;
        width: 100%;
        position: absolute;
        left: 50%;

        &-title{
            text-align: center;
            margin-bottom: 0.5em;
        }

        &-options{
            display: flex;
        }

        &-option{
            flex: 1;
        }
    }

    &--prompt{
        .page-state-toggler_input-wrap{
            transform: translateY(-100%);
        }
        .page-state-toggler_prompt{
            transform:
                translateX(-50%)
                translateY(-100%);
        }
    }
}
